go 1.21.0

use (
	./channel_directions
	./channels
	./close
	./closure
	./getting_started
	./goroutines
	./greetings
	./linkedlist
	./map_example
	./read_file
	./reduce
	./reduce/main
	./select
	./timers_and_tickers
	./tree_implementation
	./word_count
	./worker_pools
)
